.arms {
	box-shadow: 0 15px 20px 23px rgba(0, 0, 0, 0.12);
	width: 860px;
	height: 1051px;
	margin: 3px auto 3px auto;
	padding-top: 3px;
}

.frame {
	width: 688px;
	height: 944px;
	margin: 0 auto;
}

.div1 {
	width: 700px;
	height: 92px;
	float: left;
}

.line1 {
	width: 100%;
	height: 30px;
	margin-bottom: 7px;
}

.line2 {
	width: 100%;
	height: 30px;
	margin-bottom: 8px;
}

h2 {
	font-weight: normal;
	color: gray;
	letter-spacing: 1px;
}

hr {
	color: lightgray;
	margin-top: 1px;
}

.phone {
	float: right;
	color: gray;
	margin-bottom: 0px;
}

.email {
	margin-top: 1px;
	margin-bottom: 0px;
	float: right;
	color: gray
}

h1 {
	letter-spacing: 3px;
}

.icon {
	margin-top: 1px;
	margin-left: 5px;
	height: 18.5px;
	width: 18.5px;
}

.div2 {
	margin-top: 50px;
	width: 400px;
	height: 118px;
	float: left
}

.div3 {
	margin-top: 3px;
	width: 400px;
	height: 613px;
	float: left
}

.div4 {
	margin-top: 45px;
	margin-right: 25px;
	background-image: url("../tupian/q.jpg");
	background-repeat: no-repeat;
	background-size: 134px 134px;
	border-radius: 50%;
	width: 134px;
	height: 134px;
	float: right;
}

.div5 {
	margin-top: 51px;
	width: 220px;
	height: 252px;
	float: right;
}

.div6 {
	margin-top: 10px;
	width: 220px;
	height: 242px;
	float: right;
}

.titles {
	width: 100%;
	display: inline-block;
	background-color: lightgray;
	font-weight: bold;
	font-size: large;
	letter-spacing: 2px;
	font-style: normal;
}

.subtitles {
	margin-top: 5px;
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.content {
	margin-top: 3px;
	width: 100%;
	display: inline-block;
	color: gray;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover
	{
	border-style: solid;
	border-color: captiontext;
	background-color: gainsboro;
}